.footer_wrapper {
  background-color: $wrapper;
  margin: 40px 0;
  padding: 30px 0;
  color: $white;
  border-radius: 10px;

  .row {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 0 15px;
        font-size: 20px;

        a {
          transition: all 0.3s ease-in-out;
        }
        a:hover {
          color: $heading-color;

          span {
            display: inline-block;
            transform: rotateY(720deg) rotateZ(-20deg);
            -webkit-transform: rotateY(720deg) rotateZ(-20deg);
            -moz-transform: rotateY(720deg) rotateZ(-20deg);
            -ms-transform: rotateY(720deg) rotateZ(-20deg);
            -o-transform: rotateY(720deg) rotateZ(-20deg);
            transition: 0.3s;
            -webkit-transition: 0.3s;
          }
        }
      }
    }
  }
}
